<div style="height: 100%; width: 100%; position: absolute; overflow: hidden" >

  <google-map #gmapView height="100%"
  width="100%"
  [zoom]="zoom"
  [(center)]="center" 
  [options]='options' 
  (mapDragstart)="mouseDragStartEvt($event)" 
  (mapDragend)="mouseDragEndEvt($event)" 
  (centerChanged)="mapCenterChangedEvt($event)"
  >
    <map-marker
      *ngFor="let marker of markers"
      [position]="marker.position"
      [label]="marker.label"
      [title]="marker.title"
      [animation]= "marker.animation"
      [options]="marker.options"
    >
    </map-marker>
  </google-map>
</div>

<app-list-panel 
id="data_list_panel" 
#listPanel 
[isLoading]="lockStartDate" 
[data]="listData" 
[currentSelectedIndex]="selectedIndex"
(onInterestPicked)="highlightInterest($event)"
>

</app-list-panel>

<router-outlet></router-outlet>